/* *universal selector affects every element on the page */
* {
    box-sizing: border-box;
}

body, header{
    font-family:"Montserrat", Helvetica, Arial, sans-serif;
    margin:0;
    background-color: #fff
}

.padding{
    padding-left: 2rem;
    padding-right: 2rem;
}

.header-mobile{
    display: none;
}



/* pseudo classes */
a:link {
    color: #0f163b;
    margin-right: 0.5em;
    text-decoration: underline;
}

a:visited {
    color:#646496;
    text-decoration: none;
}

a:hover {
    color: #3d3dc7;
    text-decoration: underline;
}

.lg-link{
    padding: 1vh;
    display: flex;
    justify-content: end;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0f163b;
    /* padding: 15px; */
    max-width: 1600px;
    width: 100%;
    padding: 15px 0px 15px 0px;
    /* padding-left: 0;
    padding-right: 0; */
    margin: auto;
    /* margin: 0vh 16.75vw 2.5vh 16.75vw; */
}

.header-main{
    display: flex;
    align-items: space-between;
    
}

.header-main a{
    margin-right: 3em ;
    text-decoration: none;
}



/* .header-main-last-link{
    margin: 0;
} */

.article-pull-quote, .next-article {
    margin: 0;
    padding: 0;
}

section{
    background-color: #F5F5F5;
    max-width: 100%;
    height: 300px;
    margin: 0;
}

section h3{
    padding-top: 30px;
    text-align: center;
    font-size: 2.25em;
    margin: 0;
}

h4{
    font-size: 1.25em;
}

.visa-sub-nav{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    /* padding-left: 2rem; */
}

.visa-sub-nav p{
    margin-top: 0;
}


.visa-sub-nav-flex{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.visa-sub-nav-flex a{
    margin-right:0 ;
}


.visa-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1600px; 
    width: 100%;
    margin:auto ;
    padding: auto;
}

.visa-list a{
    margin-top: 85px;
    /* padding-top: 25px; */
    font-size: 1.25em;
    padding-left: 2rem;
    padding-right: 2rem;
}



.pull-quote-gov{
    display: flex;
    
    padding: 0;
    margin: 0;
    color: #eee;
    width: 100%;
    max-width: 100%;
    height: 227px;
    
    /* position: relative; */
}

hgroup{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    /* max-width: 1000px; */
    width: 100%;
    max-width: 100%;
    height: 23vh;
    z-index: 999;
    background:url(../images/pothole-crop.jpeg) no-repeat;
    background-size: cover;
    /* background-position: initial; */
}

hgroup h2 {
    font-size: 2.5em;
    margin: .2em;  
}

hgroup h3 {
    font-size: 1.25em;
    margin: .5em .5em .5em 0;  
}

/* .bg-anchor{
    display: flex;
    justify-content: center;
    max-width: 100vw;
    position: relative;
} */

.over-text-center{
    display: flex;
    /* max-width: 1600px;
    width: 100%; */
    /* justify-content: left; */
    align-items: center;
    /* margin: auto; */
    padding: auto;

}

.over-text{
    display: flex;
    flex-direction: column;
    background-color: rgb(4,9,29, 0.75);
    color: #fff;
    max-width: 600px;
    width: 100%;
    padding: 10px;
    opacity: 1;
}

.over-text h3{
    padding: 2vh 0 0.5vh 1.4em;
}

.over-text h2{
    padding: 0 0 0 .7em;
}

.custom-border {
    position: relative;
    margin-left: 0;
    
}

.custom-border::after {         /*This class was generated by GPT but I adjusted the numbers.*/
    content: '';
    position: absolute;
    left: 3.1vh;
    bottom: -2vh;
    width: 20%; 
    height: 0.77vh; /* Border thickness */
    background-color: #C82F2F; /* Border color */
    

}


.next-article{
    display: flex;
    margin-top: 0;
    justify-content: center;
    width: 100%;
}

article{
    margin: 70px 0 70px 0;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    width: 100%;
    padding: 0 1rem 0 1rem;
}

.article-over-text{
    display: flex;
    flex-direction: column;
    color: rgb(4,9,29);
    max-width: 600px;
    width: 100%;
    opacity: 1;
    justify-content: center;
    animation: shadow-drop-2-bl 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.article-custom-border{
 position: relative;
    margin-left: 0;
}

.article-custom-border::after{
    content: '';
    position: absolute;
    left: 0vh;
    bottom: -2vh;
    width: 20%; 
    height: 0.77vh; /* Border thickness */
    background-color: #C82F2F;
}

article h2 {
    font-size: 2.5em;
    margin: .2em; 
}

article p {
    /* font-size: 1.25em; */
    margin: 1em 1em 1em 0;  
}

.article-img{
    background:url(../images/montreal-construction.jpeg) scroll;
    padding: 0;
    margin: 0;
    width: 790px;
    height: 227px;
    background-size: cover;
    background-position: initial;
    animation: shadow-drop-2-br 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

h1 {
    font-size: 4em;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    margin-bottom: 0.50em;
    
    /* border-bottom:solid 1px #333 ; */
}


main {
    max-width: 1600px; /* this is the ceiling. the width element is 100% but it still stops the moment it reaches 1k pixels */
    width: 100%;
   
    margin: auto;
}


main h2 {
    font-size: 2.5em;
    margin: .2em;  
}

main h3 {
    font-size: 1.25em;
    margin: .5em .5em .5em 0;
}

p {
    font-size: 1.3em;
    line-height: 130%;
}

main a{
    margin-top: 85px;
    font-size: 1.25em;
}

main p{
    margin: 0;
    padding-bottom: 85px;
    position: relative;
    bottom: 25px;
}



.main-flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    width: 100%;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
}

.article-sub-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.visa-main-flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    width: 100%;
    justify-content: space-between;
    margin: auto auto 1.75em auto;
}

.visa-2-artcile{
    background: none;
    color: #0f163b;
    flex-direction: column;
    justify-content: left;
    margin-bottom:80px ;
}

.visa-2-artcile h2{
    font-size: 2.5em;
    margin: .2em .2em .2em 0;
    width: 50%;
    padding: 0 0 10px 0;
    border-bottom: #C82F2F solid 2.5px;
}

.visa-2-artcile h3{
    padding-top: 20px;
    font-size: 2.25em;
    margin: .2em .2em .2em 0;
}

.p-flex-column{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    max-width: 1600px;
    
}

.p-flex-width{
    max-width: 660px;
    width: 48%;
    line-height: 1.60em;
}

.main-resume{
    display: flex;
    flex-direction: column;
    max-width: 660px;
    width: 48%;
    margin-bottom: 60px;
}

.main-resume h2{
    color: #0f163b;
    margin-bottom: 1em;
    margin-left: 0;
}

.main-resume p{
    line-height: 1.60em;
    padding-bottom: 25px;
}

.main-resume a{
    margin-top: auto;
    margin-left:0 ;
}


.flag-logo {
    margin: 0 5% 0 0;
    width: 34vh
}

.text {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20%;
    float: left;
}

.multi-col-cnd-gov-header {
    column-count: 2;
    font-size: calc(12px + 1.5vw);
    padding-left: 5%;
}

/* responsive img */

img {
    display: block;
    width: 50%;
    margin: auto;
}


.article-page{
    display: flex;
    justify-content: flex-start;
    background: none;
    margin: 42px auto auto auto;
    width: 100%;
    max-width: 1600px;
    height: auto;
}

.header-article-visa{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 1600px;
    background: none;
    margin: 42px auto 42px auto;
    padding-left: 2rem;
    height: auto;
}
.article-page-visa{
    display: flex;
    flex-direction: column;
    color: rgb(4,9,29);
    background: none;
    max-width: 660px;
    width: 100%;

}


hgroup.article-page{
    border-bottom: #C82F2F 2.5px solid;
   
}

.article-page h2{
    display: flex;
    justify-content: flex-start;
    margin: 0 0 17px 0;
}

.article-page-img{
    background:url(../images/visa1.png) scroll;
    padding: 0;
    margin: 50px auto 50px auto;
    max-width: 1600px;
    width: 100%;
    height: 27vh;
    background-size: cover;
    background-position: initial;
    animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

ul{
    /* list-style-type: circle; */
    margin: auto;
    padding-left: 2em;
    width: 100%;
    max-width: 1600px; 
    margin-bottom: 42px;
}

 ul li{
    padding: 0 0 4px 30px;
    margin-left: 1em;
} 

li p{
    margin-bottom: 0;
}

.error-li{
    line-height: 5em;
}

.error-img{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.75em;
}

.error-img img{
    border-radius: 1em;
}


.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 0.35s;
}

.hidden-header{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.7s;
}

.hidden-sub-header{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1.2s;
}



.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transform: translateX(0);
}
/* 
.show-header{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
} */



.hidden-sub-header:nth-child(4){
    transition-delay: 200ms;
}
.hidden-sub-header:nth-child(5){
    transition-delay: 250ms;
}
.hidden-sub-header:nth-child(6){
    transition-delay: 300ms;
}
.hidden-sub-header:nth-child(7){
    transition-delay: 350ms;
}







footer {
  /* height: 237px; */
  width: 100%;
}

footer h4{
    margin-top: 0;
    margin-bottom: 23px;
    padding-top: 16px;
    font-size: 1.6em;
}

.footer-1{
    /* display: grid; */
    background-color: #26374a;
    color: #fff;
    width: 100%;
    max-width: 100%;
    /* padding-left:2rem; */
}

.footer-1-flex{
    max-width: 1600px;
    width: 100%;
    height: 137px;
    margin: auto;
    padding-left: 2rem;
}

.footer-1 a {
    color: #fff;
    font-size: 1.3em;
    padding-bottom: 27px;
    text-decoration: none;
}

.footer-1 a:hover {
    text-decoration: underline;
}

.footer-1-a{
    display: flex;
    justify-content: space-between;
    max-width: 673px;
    width: 100%;
}

.footer-2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f163b;
    max-width: 1600px;
    width: 100%;
    height: 100px;
    margin: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.footer-2_1{
    display: flex;
    max-width: 1600px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    
}

.footer-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 100%;
}

.footer-main a{
    margin: 0;
    text-decoration: none;
}

.footer-1-mobile{
    display: none;
}


.footer-2 img{
    height: 40px;
    width: auto;
}

.footer-2-mobile{
display: none;
}

/* ===================================== */
/* === TABLET VIEW 1080PX AND LARGER ===*/
/* ===================================== */

@media only screen and (min-width: 1080px)  {
    hgroup{
        display: flex;
        position: relative;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        z-index: 999;
    }

    .over-text-center{
        display: flex;
        max-width: 1600px;
        width: 100%;
        justify-content: left;
        align-items: center;
        position: absolute;
        margin: auto;
        padding: auto;
    
    }

    .over-text{
        display: flex;
        flex-direction: column;
        background-color: rgb(4,9,29, 0.75);
        color: #fff;
        max-width: 600px;
        width: 100%;
        padding: 10px;
        opacity: 1;
        justify-content: center;
    }
  }

/* ===================================== */
/* === TABLET VIEW 780PX AND SMALLER ===*/
/* ===================================== */

  @media only screen and (max-width: 780px)  {
    
    .lg-link{
        display: none;
    }
    header{
        display: none;
    }

    .header-main a{
        margin: 0;
    }

    .header-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #0f163b;
        max-width: 780px;
        width: 100%;
        padding: 23px 1.5em 15px 1.5em;
        margin: auto;
    }

    .header-mobile a{
        /* margin-left:auto; */
        text-decoration: underline;
        font-size: 1.5em;
    }

    .header-mobile img{
        max-height: 1.5em;
        height: 100%;
    }
    
    .over-text{
        max-width: 780px;
        width: 100%;
        
    }

    .over-text-center{
        max-width: 780px;
        width: 100%;
    }

    .custom-border::after{
        content: '';
        position: absolute;
        left: 3vh;
        bottom: -2vh;
        width: 20%; 
        height: 0.77vh; /* Border thickness */
        background-color: #C82F2F;
    }
    
    .article-img{
        display: none;
    }

    .article-over-text p{
        margin-bottom: 0;
    }

    section{
        height: 280px;
        margin-bottom: 30px;
    }
    
    .visa-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* padding-left: 1.45em; */
        /* padding-bottom: 30px; */
        max-width: 780px;
        width: 100%; 
    }

    .visa-list a{
        margin: 0;
        width: auto;
        flex-basis: 50%;
        text-align: center;
        padding: 0;
    }

    .visa-sub-nav-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: 50%;
        max-width: 780px;
        width: 100%; 
    }

    .visa-sub-nav-flex a{
        margin: 0;
        width: auto;
        flex-basis: 50%;
        text-align: center;
        padding: 0;
    }

    .main-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-resume{
        max-width: 780px;
        width: 100%;
    }

    .main-resume p{
        padding: 0;
    }

    .main-resume h4{
        margin-top: 1em;
    }

   
/* footer {
    height: 237px;
    width: 100vw;
    max-width: 100%;
  } */
  
  .disapear{
    height: 0;
  }

  .footer-1{
    display: none;
  }

  .footer-1-mobile{
    margin-top: 35px;
    display: block;
    background-color: #26374a;
    color: #fff;
    padding-left:2rem;
    padding-right: 2rem;
    overflow: hidden;
    height: auto;
    max-width: 780px;
    width: 100%;
  }

  .footer-1-mobile a {
    color: #fff;
    font-size: 1.3em;
    margin-bottom: 17px;
    text-decoration: none;
}

.footer-1-mobile h4{
    margin: 16px auto 30px auto;
    padding: 0;
}

.footer-1-mobile a{
    margin-right: 0;
}


 .footer-1-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 23px;
    
 }

 .footer-2-links{
    display: flex;
    flex-direction: column;
    text-decoration: underline;
 }
 
 .footer-4-links{
    display: flex;
    flex-direction: column;
 }
 

  .footer-2{
    display: none;
  }

  .footer-2-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 780px;
    width: 100%;
    height: 130px;
    /* background-color: #fff; */
  }
 
  .footer-main{
    justify-content: center;
    align-items: center;
  }

  .footer-main img{
    max-width: 300px;
    width: 25em;
  }
  
  }


/* Animations */

  .shadow-drop-2-br {
	animation: shadow-drop-2-br 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-2-br {
    0% {
      transform: translateZ(0) translateX(12px) translateY(12px);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      transform: translateZ(50px) translateX(0px) translateY(0px);
      box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.75);
    }
  }

  .shadow-drop-2-bl {
	animation: shadow-drop-2-bl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-2-bl {
    0% {
      transform: translateZ(0) translateX(0) translateY(0);
    }
    100% {
      transform: translateZ(50px) translateX(12px) translateY(-12px);
    }
  }

  .slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
